@keyframes tartich {
    95% {
        top: -90%;
    }
    100% {
        top: 0;
    }
}
@keyframes achk {
    0% {
        transform: translate(0px, 0px);
    }
    15% {
        transform: translate(5px, 5px);
    }
    30% {
        transform: translate(-5px, 5px);
    }
    45% {
        transform: translate(5px, 5px);
    }
    60% {
        transform: translate(-5px, 5px);
    }
    75% {
        transform: translate(5px, 5px);
    }
    90% {
        transform: translate(-5px, 5px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
